@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html body {
/*    background-color: rgba(255,255,255,1);*/
	  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('code_screenshot');
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment:fixed;
	  background-size: cover;
	  background-color: #464646;
	  
	  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}
div{
	color:floralwhite;

}

.skills > ul {
  display: inline-block;
	text-align: left;
}
#description{
	font-size: 24px;
}